
.titulo-single-post{
    line-height: 80px;
}

.titulo-single-post-sm{
    font-size:2rem;
}

.foto-noticia{
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    height: 70vh;
}