.header-single-deportista{
    height: 800px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100vw !important;
    top: 0;
    align-content: center;
    border:1px solid rgba(000, 000, 000, .1);
}

.columnas-descripcion{
    column-count: 2;
    column-width: 300px;
}