#header-categorias{
    background-image: fn-url('fondo-categorias.png');
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
    height: auto;
    padding-top: 160px;
    padding-bottom: 70px;
}