#header-categorias{
    background-image: fn-url('fondo-categorias.png');
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
    height: auto;
    padding-top: 160px;
    padding-bottom: 70px;
}

.icono-selector{
    cursor: pointer;
    transition: .6s ease all;
}

.icono-selector:hover{
    transform: scale(1.2);
    transition: .2s ease all;
}

.titulo-detalle{
    font-size: 1.3em;
}

.titulo-detalle-rojo{
    font-size: 1.3em;
    text-transform: uppercase;
    color: red;
    font-weight: bolder;
}

.titulo-detalle-personalizado{
    font-size: 1em;
    text-transform: uppercase;
    font-weight: 600;
}

.titulo-categoria{
    font-size: 2em;
    text-transform: uppercase;
    margin-bottom: -35px;
}

.nombre-categoria{
    font-size: 3em;
    text-transform: uppercase;
    font-weight: bolder;
    margin: -10px 0px -20px 0px;
}

.denominacion{
    font-size: 2.3em;
    text-transform: uppercase;
    margin: -30px 0px;
}

.monto-aporte{
    font-size: 1.5em;
    margin: -5px 0px 0px 0px;
    color: gray;
}

.detalle-categoria{
    height: 100%;
    display: none;
    transition: all 1s ease-in-out;
    &.selected{
        display: block;
    }
}