@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Montserrat:400,600,800");
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
main {
  display: block; }

blockquote,
q {
  quotes: none; }

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

body {
  font-family: "Montserrat", sans-serif;
  color: #1F232A;
  font-weight: 400;
  position: relative;
  -webkit-transition: 1s all ease-in-out;
  -o-transition: 1s all ease-in-out;
  transition: 1s all ease-in-out;
  padding: 0 !important; }

main {
  background: white; }

h1,
h2,
h3,
h4 {
  font-weight: 400; }

a {
  color: #4D4D4D;
  -webkit-transition: .2s ease-in-out all;
  -o-transition: .2s ease-in-out all;
  transition: .2s ease-in-out all;
  font-weight: 400;
  text-decoration: none; }
  a:hover {
    text-decoration: none;
    color: #4D4D4D !important; }
  a:focus {
    text-decoration: none; }

ul {
  list-style-type: none;
  padding-left: 0; }

strong {
  font-weight: 500; }

label {
  font-weight: 400; }

.content-wrapper {
  min-height: calc(100vh - 360px); }

.dn {
  display: none; }

.db {
  display: block; }

.dib {
  display: inline-block; }

.fl {
  float: left; }

.fr {
  float: right; }

.fn {
  float: none; }

.cb {
  clear: both; }

.bk--title {
  text-transform: uppercase;
  font-weight: 900; }
  .bk--title__white {
    color: white; }
  .bk--title__i {
    font-style: italic; }
  .bk--title p {
    color: #2F3640; }
  .bk--title span {
    color: #4D4D4D; }

@media screen and (min-width: 768px) {
  .bk-no-padding {
    padding: 0 !important; } }

@media screen and (min-width: 768px) {
  .bk-shadow {
    -webkit-box-shadow: 6px 0px 14px -3px rgba(0, 0, 0, 0.41);
    box-shadow: 6px 0px 14px -3px rgba(0, 0, 0, 0.41); } }

.bk-hide {
  opacity: 0;
  -webkit-transition: .2s ease-in-out all;
  -o-transition: .2s ease-in-out all;
  transition: .2s ease-in-out all; }

.modal-open {
  overflow: scroll !important; }

* {
  scroll-behavior: smooth; }

.rojo-gradiente {
  background: rgba(191, 0, 6, 0.9);
  background: -moz-linear-gradient(45deg, rgba(191, 0, 6, 0.9) 0%, rgba(233, 0, 8, 0.9) 100%);
  background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(191, 0, 6, 0.9)), color-stop(100%, rgba(233, 0, 8, 0.9)));
  background: -webkit-linear-gradient(45deg, rgba(191, 0, 6, 0.9) 0%, rgba(233, 0, 8, 0.9) 100%);
  background: -o-linear-gradient(45deg, rgba(191, 0, 6, 0.9) 0%, rgba(233, 0, 8, 0.9) 100%);
  background: -ms-linear-gradient(45deg, rgba(191, 0, 6, 0.9) 0%, rgba(233, 0, 8, 0.9) 100%);
  background: linear-gradient(45deg, rgba(191, 0, 6, 0.9) 0%, rgba(233, 0, 8, 0.9) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bf0006', endColorstr='#e90008', GradientType=1 ); }

/*-------EVITA EL SCROLL HORIZONTAL POR LOS EFECTOS-------*/
body {
  overflow-x: hidden; }

/*------------------GNERALES PARA PÁGINAS------------------*/
.form-control:focus {
  border: 1px solid red !important;
  -webkit-box-shadow: 0 0 0 0.2rem rgba(191, 0, 6, 0.25);
  box-shadow: 0 0 0 0.2rem rgba(191, 0, 6, 0.25); }

.btn-primary {
  background: rgba(191, 0, 6, 0.9);
  background: -moz-linear-gradient(45deg, rgba(191, 0, 6, 0.9) 0%, rgba(233, 0, 8, 0.9) 100%);
  background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(191, 0, 6, 0.9)), color-stop(100%, rgba(233, 0, 8, 0.9)));
  background: -webkit-linear-gradient(45deg, rgba(191, 0, 6, 0.9) 0%, rgba(233, 0, 8, 0.9) 100%);
  background: -o-linear-gradient(45deg, rgba(191, 0, 6, 0.9) 0%, rgba(233, 0, 8, 0.9) 100%);
  background: -ms-linear-gradient(45deg, rgba(191, 0, 6, 0.9) 0%, rgba(233, 0, 8, 0.9) 100%);
  background: linear-gradient(45deg, rgba(191, 0, 6, 0.9) 0%, rgba(233, 0, 8, 0.9) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bf0006', endColorstr='#e90008', GradientType=1 );
  border-color: rgba(233, 0, 8, 0.9);
  margin-top: 20px; }

.btn-primary:hover {
  background: rgba(191, 0, 6, 0.9);
  background: -moz-linear-gradient(45deg, rgba(191, 0, 6, 0.9) 0%, rgba(233, 0, 8, 0.9) 100%);
  background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(191, 0, 6, 0.9)), color-stop(100%, rgba(233, 0, 8, 0.9)));
  background: -webkit-linear-gradient(45deg, rgba(191, 0, 6, 0.9) 0%, rgba(233, 0, 8, 0.9) 100%);
  background: -o-linear-gradient(45deg, rgba(191, 0, 6, 0.9) 0%, rgba(233, 0, 8, 0.9) 100%);
  background: -ms-linear-gradient(45deg, rgba(191, 0, 6, 0.9) 0%, rgba(233, 0, 8, 0.9) 100%);
  background: linear-gradient(45deg, rgba(191, 0, 6, 0.9) 0%, rgba(233, 0, 8, 0.9) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bf0006', endColorstr='#e90008', GradientType=1 );
  border-color: 5px solid blue;
  color: white; }

input {
  width: 100%;
  border-radius: 5px; }

.separador-izquierdo {
  margin-left: 1px solid white;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

/*------------------EVITA DEFORMAR FOTOS------------------*/
img {
  height: auto; }

/*--------------------------MENÚ PRINCIPAL--------------------------*/
#navbarDropdown {
  width: 50px !important; }

#barramenu {
  width: 90vw;
  height: auto;
  z-index: 9;
  margin-top: 30px;
  border-radius: 5px;
  -webkit-transition: .8s ease all;
  -o-transition: .8s ease all;
  transition: .8s ease all;
  background: rgba(191, 0, 6, 0.9);
  background: -moz-linear-gradient(45deg, rgba(191, 0, 6, 0.9) 0%, rgba(233, 0, 8, 0.9) 100%);
  background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(191, 0, 6, 0.9)), color-stop(100%, rgba(233, 0, 8, 0.9)));
  background: -webkit-linear-gradient(45deg, rgba(191, 0, 6, 0.9) 0%, rgba(233, 0, 8, 0.9) 100%);
  background: -o-linear-gradient(45deg, rgba(191, 0, 6, 0.9) 0%, rgba(233, 0, 8, 0.9) 100%);
  background: -ms-linear-gradient(45deg, rgba(191, 0, 6, 0.9) 0%, rgba(233, 0, 8, 0.9) 100%);
  background: linear-gradient(45deg, rgba(191, 0, 6, 0.9) 0%, rgba(233, 0, 8, 0.9) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bf0006', endColorstr='#e90008', GradientType=1 ); }

#banderin-menu {
  margin-top: -42px;
  position: absolute; }

.escondebarra {
  top: -100%;
  border: 1px solid blue;
  -webkit-transition: .5s ease-in-out all;
  -o-transition: .5s ease-in-out all;
  transition: .5s ease-in-out all; }

#navbar {
  z-index: 11;
  width: 500px;
  max-width: 100vw;
  height: 100vh;
  right: 0px;
  position: fixed;
  background-repeat: no-repeat;
  background-position: left;
  background-size: cover;
  background-image: url("../img/Team-Chile-9.2-elementos-66.png");
  -webkit-transition: .3s ease all;
  -o-transition: .3s ease all;
  transition: .3s ease all; }

.menu-desaparece {
  margin-right: -500px;
  -webkit-transition: 1s ease all;
  -o-transition: 1s ease all;
  transition: 1s ease all; }

.boton-menu {
  color: white;
  font-weight: bolder;
  font-size: 1.3em;
  -webkit-transition: .3s ease all;
  -o-transition: .3s ease all;
  transition: .3s ease all;
  -webkit-transition-delay: .3s;
  -o-transition-delay: .3s;
  transition-delay: .3s;
  cursor: pointer; }

.btn-menu {
  font-weight: normal; }

.btn-menu:hover {
  font-weight: bolder;
  -webkit-transition: .3s ease all;
  -o-transition: .3s ease all;
  transition: .3s ease all; }

.icon-menu {
  height: 26px;
  width: auto; }

/*------------------MENU AL SCROLL------------------*/
#menu-scroll {
  background-color: rgba(255, 255, 255, 0.9);
  -webkit-transition: .6s ease-in-out all;
  -o-transition: .6s ease-in-out all;
  transition: .6s ease-in-out all;
  z-index: 10; }

.esconde-menu-scroll {
  margin-top: -100%;
  -webkit-transition: .6s ease-in-out all;
  -o-transition: .6s ease-in-out all;
  transition: .6s ease-in-out all; }

.boton-menu-scroll {
  color: red;
  font-weight: bolder;
  font-size: 1.3em;
  -webkit-transition: .3s ease all;
  -o-transition: .3s ease all;
  transition: .3s ease all;
  -webkit-transition-delay: .3s;
  -o-transition-delay: .3s;
  transition-delay: .3s;
  cursor: pointer; }

/*-------------------GENERAL HOME-------------------*/
.separador {
  height: 80vh; }

.separador-over {
  height: 100vh;
  /*margin-top:-250px;*/
  margin-bottom: -50px; }

.titulo-blanco-thin {
  color: white;
  text-transform: uppercase;
  font-size: 3rem !important;
  text-align: center; }

.titulo-blanco-bolder {
  color: white;
  text-transform: uppercase;
  font-size: 3.3em;
  font-weight: bolder;
  margin-top: -50px;
  margin-bottom: 0px;
  text-align: center; }

.titulo-noticias-deportistas-gris {
  font-weight: bold;
  font-size: 2rem;
  text-transform: uppercase;
  margin: 20px 0px 0px 0px;
  line-height: 30px; }

.titulo-azul {
  font-size: 2.5rem;
  color: blue;
  text-transform: uppercase;
  font-weight: regular;
  line-height: 40px; }

.titulo-rojo {
  font-size: 3.5em;
  color: red;
  text-transform: uppercase;
  font-weight: bolder;
  line-height: 55px; }

.thin {
  font-weight: 200; }

.bolder {
  font-weight: bolder;
  font-size: calc(3vw + 1rem); }

.salto-titulo {
  word-break: normal;
  word-break: break-all; }

.texto-blanco {
  color: white; }

.border-radius-5 {
  border-radius: 5px; }

/*---------------------SECCION A MANO EN HOME---------------------*/
#nuestros-sponsors {
  height: auto !important;
  min-height: 60vh;
  background-image: url("../img/fondo-azul.png");
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover; }

.icono-sponsor {
  width: auto;
  height: 90px;
  -webkit-transition: .2s ease all;
  -o-transition: .2s ease all;
  transition: .2s ease all; }
  .icono-sponsor-blanco {
    width: auto;
    height: 60px;
    margin-left: 10px;
    margin-right: 10px; }

.icono-sponsor:hover {
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
  -webkit-transition: .2s ease all;
  -o-transition: .2s ease all;
  transition: .2s ease all; }

/*-------------DETALLES DEL SLIDE PARA CATEGORIAS EN HOME-------------*/
.titulo-categoria-home {
  font-size: 1.3em;
  text-transform: uppercase;
  margin-bottom: -30px; }

.nombre-categoria-home {
  font-size: 2em;
  text-transform: uppercase;
  font-weight: bolder;
  margin: -10px 0px -10px 0px; }

.denominacion-home {
  font-size: 2em;
  text-transform: uppercase;
  margin: -30px 0px; }

.monto-aporte-home {
  font-size: 1em;
  margin: -5px 0px 0px 0px;
  color: gray; }

.icono-en-header {
  -webkit-transition: .3s ease all;
  -o-transition: .3s ease all;
  transition: .3s ease all; }

.icono-en-header:hover {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
  z-index: 2;
  -webkit-box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.25);
  box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.25);
  -webkit-transition: .3s ease all;
  -o-transition: .3s ease all;
  transition: .3s ease all; }

/*----------------SLIDE DEPORTISTAS----------------*/
.foto-deportista {
  min-height: 150px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; }

/* Feel free to change duration  */
.animated {
  -webkit-animation-duration: 1000 ms;
  animation-duration: 1000 ms;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both; }

/* .owl-animated-out - only for current item */
/* This is very important class. Use z-index if you want move Out item above In item */
.owl-animated-out {
  z-index: 1; }

/* .owl-animated-in - only for upcoming item
/* This is very important class. Use z-index if you want move In item above Out item */
.owl-animated-in {
  z-index: 0; }

/* .fadeOut is style taken from Animation.css and this is how it looks in owl.carousel.css:  */
.fadeOut {
  -webkit-animation-name: fadeOut;
  animation-name: fadeOut; }

@-webkit-keyframes fadeOut {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }

@keyframes fadeOut {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
  -webkit-box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
  -moz-box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
  border: 10px solid gray !important;
  -webkit-box-shadow: 0 0 0 0.2rem rgba(191, 0, 6, 0.25);
  box-shadow: 0 0 0 0.2rem rgba(191, 0, 6, 0.25);
  padding: 5px !important; }

.tu-RUT span {
  border: 1px solid red !important;
  padding: 20px !important; }

input[type=number] {
  -moz-appearance: textfield; }

:root {
  azul-footer: linear-gradient(to right, red, yellow); }

#footer {
  background-color: rgba(0, 78, 195, 0.15); }

.azul-footer {
  background-color: #004ec3; }

.titulo-footer {
  text-transform: uppercase;
  font-weight: bolder;
  border-bottom: 2px solid #004EC3; }

footer a:hover {
  font-weight: bolder;
  -webkit-transition: .2s;
  -o-transition: .2s;
  transition: .2s; }

.ver-mas {
  color: gray;
  -webkit-transition: .3s ease all;
  -o-transition: .3s ease all;
  transition: .3s ease all; }

.ver-mas:hover {
  color: red;
  -webkit-transition: .3s ease all;
  -o-transition: .3s ease all;
  transition: .3s ease all; }

.header-single-deportista {
  height: 70vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100vw !important;
  top: 0;
  -ms-flex-line-pack: center;
  align-content: center;
  border: 1px solid rgba(0, 0, 0, 0.1); }

.columnas-descripcion {
  -webkit-column-count: 2;
  column-count: 2;
  -webkit-column-width: 300px;
  column-width: 300px; }

.text-sm-archive {
  font-size: calc(5vh + .1rem) !important; }

.texto-sombra {
  text-shadow: 10px 10px 8px #000000 !important; }

#header-categorias {
  background-image: url("../img/fondo-categorias.png");
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;
  height: 50vh;
  padding-top: 160px;
  padding-bottom: 70px; }

#instagram {
  background-image: url("../img/separador-rojo.png");
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover; }

.icono-selector {
  cursor: pointer;
  -webkit-transition: .6s ease all;
  -o-transition: .6s ease all;
  transition: .6s ease all; }

.icono-selector:hover {
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
  -webkit-transition: .2s ease all;
  -o-transition: .2s ease all;
  transition: .2s ease all; }

.titulo-detalle {
  font-size: 1.3em; }

.titulo-detalle-rojo {
  font-size: 1.3em;
  text-transform: uppercase;
  color: red;
  font-weight: bolder; }

.titulo-detalle-personalizado {
  font-size: 1em;
  text-transform: uppercase;
  font-weight: 600; }

.titulo-categoria {
  font-size: 2em;
  text-transform: uppercase;
  margin-bottom: -35px; }

.nombre-categoria {
  font-size: 3em;
  text-transform: uppercase;
  font-weight: bolder;
  margin: -10px 0px -20px 0px; }

.denominacion {
  font-size: 2.3em;
  text-transform: uppercase;
  margin: -30px 0px; }

.monto-aporte {
  font-size: 1.5em;
  margin: -5px 0px 0px 0px;
  color: gray; }

.detalle-categoria {
  height: 100%;
  display: none;
  -webkit-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out; }
  .detalle-categoria.selected {
    display: block; }

h2 {
  font-size: 3em;
  text-transform: uppercase;
  font-weight: bolder;
  color: red !important; }

#header-noticias {
  background-image: url("../img/header-noticias.png");
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
  height: 70vh;
  padding-top: 160px;
  padding-bottom: 70px; }

.titulo-header {
  font-size: calc(3vw + 1rem) !important;
  text-transform: uppercase;
  line-height: calc(3vw + 1rem); }

.encabezado-noticia {
  min-height: 400px; }

.foto-single-noticias {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 250px; }

.titulo-noticia-single {
  text-transform: uppercase;
  font-weight: 600; }

strong {
  font-weight: bolder; }

.foto-noticias-carousel {
  min-height: 190px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top; }

.link-carousel:hover, .titulo-noticia:hover {
  color: red; }

.bajada-carousel {
  font-weight: 600;
  line-height: 20px; }

body {
  color: #4D4D4D; }

.destacar {
  border: 1px solid red;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }
